body{
}
*{
}
.all{

}
.all .nav{
    background: linear-gradient(-45deg,#4f4709,#dfc8d1,#948a2996,#e7e50d);
    background-size: 400% 400%;
    animation: navani 10s ease-in-out infinite;
    display: flex;
    align-items: center;
    padding: 14px;
    height: 61px;
    color: black;
}
@keyframes navani {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 50% 100%;
    }
    
}
.nav{
    
}
#nav1{
    margin: 0px 15px;
}
.all .nav .simbol{
    
}
.all .nav .simbol a{
    text-decoration: none;
    color: black;
}
.all .nav .simbol a h4{
    width: 63px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    background: linear-gradient(45deg, #7f6500,#7f6501,#c8b1b1, #eddada1f);
}
.all .nav .simbol a h4:hover{
    color: #7f6501;
}
.all .nav .movies{

}
.all .nav .movies a{
    text-decoration: none;
    color: black;

}
.all .nav .movies a p:hover{
    color: #7f6501;
}
.all .nav .tvseries{

}
.all .nav .tvseries a{
    text-decoration: none;
    color: black;
}
.all .nav .tvseries a h4{

}
.all .nav .audio{

}
.all .nav .audio a{
    text-decoration: none;
    color: black;
}
.all .nav .audio a h4{

}
.poster{
    
}
.movefile{

}
.Actionmovi{
    background: black;
    color: white;
    margin: -1px;
}
.Actionmovi .text{
    font-size: 31px;
    padding: 22px 33px;
}
.Actionmovi .partmovi{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.Actionmovi .partmovi .movis{
    width: 238px;
    height: 365px;
    display: flex;
    padding: 34px;
    justify-content: center;
}
.Actionmovi  hr{
    color: white;
    opacity: 49.23;
    margin: 0px 29px;
}
.Actionmovi .partmovi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Actionmovi .partmovi .movis .image1{

}
.Actionmovi .partmovi .movis .image1 img{
    height: 300px;
    width: 228px;
}
.Actionmovi .partmovi .movis .image1 .paragraf1{
    background: #141619;
    opacity: 0.6;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-block: -82px;
}
.Actionmovi .partmovi .movis .image1 .paragraf1 p{
    margin: 2px;
}

.last{
    display: flex;
    flex-wrap: wrap;
}
.last{
}
.last p{
}
@media (max-width: 731px) {
    .all .nav{
        flex-wrap: wrap;
        height: 100%;
    }	
}